.btn-custom{
    background-color: hsl(278, 68%, 11%);
    color: white;
}

.btn-custom:hover{
    background-color: hsl(278, 68%, 11%);
    color: white;
}

.form-control::placeholder{
    color: rgb(185, 185, 185);
}


@media only screen and (max-width: 425px) {
    label{
        font-size: 0.8rem;
    }
  }